/* darkmode.css */
body {
    background-color: rgb(40, 127, 200);
    color: #f5f5f5;
}

/* Tabellen */
.table-dark {
    color: #f5f5f5;
    background-color: #287fc8;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #454d55;
}

.table-dark.table-bordered {
    border: 0;
}

.table-dark.table-bordered th,
.table-dark.table-bordered td {
    border: 1px solid #454d55;
}

.table-dark.table-hover tbody tr:hover {
    color: #f5f5f5;
    background-color: rgb(69, 133, 192);
}

/* Buttons */
.btn-darkmode {
    color: #f5f5f5;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.15);
}

.btn-darkmode:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.25);
}

.btn-darkmode:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.modal-content {
    background-color: #121212;
    color: #f5f5f5;
    border-color: rgba(255, 255, 255, 0.15);
}

.table-dark-header {
    borderBottom: solid 3px red;
    background: #343a40;
    color: #f5f5f5;
    fontWeight: bold;
}

.table-dark-cell {
    padding: 10px;
    border: solid 1px gray;
    background: #343a40;
}